.loginDiv {
  padding: 50px 20px 10px 20px;
  margin: 50px auto;
  width: 500px;
  background: #e3e6e8;
  box-shadow: 20px 20px 60px #c1c4c5, -20px -20px 60px #ffffff;
  color: rgb(24, 42, 51);
}

.loginDiv h1 {
  text-align: center;
}

.loginForm {
  padding: 50px;
}

.loginForm input {
  border: none;
  width: 100%;
  outline: none;
  display: block;
  margin: 10px 0px;
  padding: 10px;
}

.loginButton {
  background-color: rgb(24, 42, 51);
  color: white;
}
