html,
body {
  background-color: #e3e6e8;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 25px 0px;
}

.alert {
  margin: 10px auto;
  /* border: 1px solid red; */
  color: red;
  width: 300px;
  text-align: center;
}
