main {
  padding: 10px 70px;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "details contacts-filter-and-table"
    "details contacts-filter-and-table";
  /* margin-top: 20px; */
}

.details {
  grid-area: details;
}

.contactsFilterAndTable {
  grid-area: contacts-filter-and-table;
}

.showFormButton {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: rgb(24, 42, 51);
  color: white;
}
