.heading {
  font-size: 1.1rem;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(24, 42, 51);
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navLinks li a:visited {
  color: white;
}
