.heading {
  font-size: 1.5rem;
  color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: rgb(24, 42, 51);
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-transform: uppercase;
}

.navLinks li a:visited {
  color: #f5f5f5;
}

.navLinks li a:hover {
  color: rgb(97, 182, 224);
}
