.details {
  width: 450px;
  line-height: 1.7rem;
  padding: 30px;
  font-size: 0.9rem;
  background: #e3e6e8;
  box-shadow: 20px 20px 60px #c1c4c5;
  height: 100vh;
  margin-top: 20px;
  white-space: pre-wrap;
}

.copyButton {
  background: rgb(24, 42, 51);
  color: white;
  outline: none;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.name {
  font-size: 1.1rem;
}

hr {
  width: 50%;
  border: none;
  margin: 15px auto;
}
