tr:nth-child(even) {
  background-color: #e0dede;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

.pickUpInstruction,
.deliveryInstruction,
.email,
.notes {
  white-space: pre-line;
}

.deleteBtn {
  margin: 2px;
  padding: 7px;
  background-color: rgb(68, 7, 7);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.editBtn {
  margin: 2px;
  background-color: #0b1612;
  padding: 7px;
  border-color: #0b1612;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
