.container {
  background: #e3e6e8;
  box-shadow: 20px 20px 60px #c1c4c5, -20px -20px 60px #ffffff;
}

.filterForm {
  border-radius: 25px;
}

.filterForm input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
}
