.contactForm {
  margin-bottom: 70px;
}

.inputsSection {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

.inputsSection div {
  margin: 7px;
}

label {
  font-size: 0.8rem;
}

.contactForm input[type="text"] {
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  outline: none;
  padding: 10px;
}

.contactForm textarea {
  border-top: hidden;
  width: 100%;
  border-left: hidden;
  border-right: hidden;
  outline: none;
  padding: 10px;
  height: 60px;
}

.submitButton {
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  width: 100px;
  margin: auto;
  display: block;
  background-color: rgb(24, 42, 51);
}
