.contactForm {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

label {
  font-size: 0.8rem;
}

.contactForm input {
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  outline: none;
  display: block;
  padding: 10px;
}

.contactForm textarea {
  border-top: hidden;
  width: 100%;
  border-left: hidden;
  border-right: hidden;
  outline: none;
  display: block;
  padding: 10px;
  height: 60px;
}

.contactForm div {
  width: 300px;
}

.submitButton {
  color: white;
  background-color: rgb(24, 42, 51);
}
